worker_processes 2;

events { worker_connections 1024; }

http {
	server {
		listen 3003;
		server_name localhost;

		location ~ (/api) {
			proxy_pass http://api:3100;
		}

		location ~ (/) {
			proxy_pass http://frontend:3000;
		}
		
	}

}